html, body {
    color: #000000;
    margin: 0px;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* header */
header-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
}

.logo {
    height: 120px;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    /* min-width: 100%; */
}

.logo-wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

/* menu */

ul {
    list-style: none;
}

.menu {
    margin-top: 20px;
    font-size: 1rem;
    padding: 0px 10px;
    position: relative;
    
}

.menu a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.active {
    color: #ffffff;
    background-color: #000000;
}

/* contents */
.top-img {
    background-image: url('../img/electone1.jpg');
    background-size: cover;
    padding: 150px 0;
    font-size: 4vw;
    color: #ffffff;
}

.play-header {
    background-color: #be86eb;
}

.play-img {
    width: 100%;
}

.encourage {
    margin: 10px 0px;
    font-style: italic;
    font-size: 1.5rem;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
}

.els {
    box-shadow: 1px 1px 2px;
    position: relative;
}

.els > img {
    width: 100%;
}

.els > a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}